body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #1e3a8a, #2563eb);
}

/* SECCIONES */
section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

/* TITULOS */
h2 {
    border-bottom: 2px solid #2563eb;
    padding-bottom: 10px;
}

/* PROYECTOS */
.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

/* LINKS */
a {
    color: #38bdf8;
    text-decoration: none;
}

/* SKILLS */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #1e293b;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}